.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100svw;
    height: 3rem;
    background-color: rgba(var(--blue),0.6);
}