.header{
    position: sticky;
    top: 1rem;
    margin: 0 1rem 2rem;
    height: 6rem;
    border: 2px solid rgba(var(--text), 0.2);
    border-radius: 1rem;
    background-color: rgba(var(--primary),0.5);
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: center;
    justify-items: center;
    z-index: 100000;
    div {
        margin: 0 2rem;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: rgb(var(--text));
    }
    .theme-switcher {
        display: flex;
        font-size: 2rem;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}


